 <h1>ようこそ
<steong>Bookere</steong>
 へ！
</h1>
<p>
  <steong>Bookere</steong>
  では、さまざまな書籍に関するあなたの意見や
</p>
<p>印象を共有し交換することができます</p>

<p>
  <!--違う-->
 <%#= link_to("start", "/books") %>
 <%= link_to("start", books_path) %>
</p>